
h1, h2, h3, p{
    font-family: 'Roboto', sans-serif;
}

h1,h2{
    font-family: 'Playfair Display', sans-serif;
    font-weight: 400;
}

a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
}

.line{
    height: 2px;
    width: 50px;
}

.grid-wrapper{
    // max-width: 1333px;
    display: grid;

    grid-template-columns: 1fr ;
    grid-template-rows: 85px 768px 720px 519px 600px 275px;

    grid-template-areas: 
    "header"
    "sections"
    "sections"
    "sections"
    "sections"
    "footer";
}

.header-container{
    height: 85px;
    grid-area: header;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 85px;

    .header-logo{
        padding-left: 160px;
        align-self: center;
        justify-self: self-start
    }

    .header-menu{
        padding: 0 20px;
        display: flex;
        align-self: center;
        justify-self: center;
        gap: 65px;
    }

    .header-buttons{
        display: flex;
        padding-right: 100px;
        align-self: center;
        justify-self: self-end;
        gap: 23px;
    }
}

.main-section-container{
    grid-area: sections;

    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    grid-template-areas: 
    "section-first"
    "section-second"
    "section-third"
    "section-four";

    .first-section{
        grid-area: section-first;

        display: grid;

        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;

        background-image: url(../img/background-main.png);
        background-position: center;
        background-repeat: no-repeat;
        gap: 55px;

        .main-offer{
            grid-area: 1/1;

            padding: 0 50px;
            display: flex;
            flex-direction: column;
            align-self: center;
            justify-self: end;

            .line{
                position: relative;
                padding-bottom: 10px;
            }

            h1{
                font-weight: 400;
                font-size: 45px;
                margin: 0;
                min-width: 343px;
            }
            
            h2{
                font-weight: 400;
                font-size: 30px;
                margin: 0;
            }

            p{
                text-align: justify;
                line-height: 21px;
                font-weight: 300;
                font-size: 14px;
                max-width: 258px;
                max-height: 34px;
            }

            a{
                font-weight: 500;
                font-size: 12px;
                align-self: flex-start;
                border: 25px solid #444240;
                color: white;
                background-color: #444240;
            }
        }

        .offer-image{
            display: flex;
            flex-direction: row;

            .price{
                min-width: 135px;
                padding-top: 138px;
                align-self: baseline;
                font-family: 'Prata', sans-serif;
                font-size: 16px;
                .line{
                    width: 35px;
                    padding-bottom: 5px;
                    position: relative;
                }
            }
            .info{
                min-width: 170px;
                padding: 0 100px 100px 0;
                align-self: flex-end;
                font-family: 'Prata', sans-serif;
                font-size: 16px;
                .line{
                    padding-bottom: 5px;
                    width: 35px;
                }
            }
        }
    }
}

.second-section{
    grid-area: section-second;

    margin: 30px 30px;
    display: flex;
    flex-direction: column;
    text-align: center;

    h1{
        font-size: 32px;
        font-weight: 400;
        line-height: 42px;
    }

    a{
        align-self: end;
        padding: 0 60px;
        font-size: 16px;
        font-weight: 500;
    }

    .line{
        position: relative;
        width: 100px;
        align-self: flex-end;
        padding-right: 50px;
    }

    .modeles-container{
        padding: 0 70px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;

        .product-card{
            text-align: start;

            h2{
                font-weight: 700;
                font-size: 14px;
            }

            p{
                font-family: 'Prata', sans-serif;
                font-size: 12px;
                font-weight: 400;
            }

            .line{
                width: 30px;
                padding: 0;
            }
        }
    }
}

.store-baner{
    grid-area: section-third;

    padding-top: 52px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    background-image: url('../img/background_banner_1.png');
    background-position: left;
    background-repeat: no-repeat;

    .baner-img{
        max-width: 521px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding-left: 100px;

        .baner-buttons{
            display: flex;
            flex-direction: row;
            gap: 20px;
            align-self: end;
        }
    }

    .baner-info{
        height: 414px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('../img/lines_banner.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .txt-wraper{
            padding: 0 50px;
            max-width: 500px;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: center;

            a{
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                font-size: 12px;
                font-weight: 500;
                height: 64px;
                width: 205px;
                border: 1px solid #D4B098;
                background-color: #D4B098;
            }

            p{
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}

.fouth-section{
    grid-area: section-four;

    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .social-links{
        display: flex;
        flex-direction: column;
        margin: 0 70px;

        h2{
            max-width: 471px;
            max-height: 33px;
            font-size: 32px;
            font-weight: 400;
            line-height: 42px;
        }
        p{
            max-width: 376px;
            max-height: 43px;
            font-size: 16px;
            font-weight: 400;
            line-height: 27px;
        }
        .icons{
            align-items: end;
            justify-content: end;
            padding-top: 124px;

            img{
                padding: 0 18px;
            }
        }
    }

    .photo-galery{
        max-width: 600px;
        max-height: 460px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 10px;

        img{
            height: 100%;
            width: 100%;
        }

        .galery-item--1{
            margin: auto;
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        .galery-item--2{
            margin: auto;
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        .galery-item--3{
            margin: auto;
            grid-column-start: 3;
            grid-column-end: 6;
            grid-row-start: 1;
            grid-row-end: 3;
        }
    }
}

.footer-container{
    grid-area: footer;
    
    color: white;
    display: grid;
    background-color: #444240;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 275px;
}