h1, h2, h3, p {
  font-family: "Roboto", sans-serif;
}

h1, h2 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
}

a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: black;
}

.line {
  height: 2px;
  width: 50px;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 85px 768px 720px 519px 600px 275px;
  grid-template-areas: "header" "sections" "sections" "sections" "sections" "footer";
}

.header-container {
  height: 85px;
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 85px;
}
.header-container .header-logo {
  padding-left: 160px;
  align-self: center;
  justify-self: self-start;
}
.header-container .header-menu {
  padding: 0 20px;
  display: flex;
  align-self: center;
  justify-self: center;
  gap: 65px;
}
.header-container .header-buttons {
  display: flex;
  padding-right: 100px;
  align-self: center;
  justify-self: self-end;
  gap: 23px;
}

.main-section-container {
  grid-area: sections;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "section-first" "section-second" "section-third" "section-four";
}
.main-section-container .first-section {
  grid-area: section-first;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  background-image: url(../img/background-main.png);
  background-position: center;
  background-repeat: no-repeat;
  gap: 55px;
}
.main-section-container .first-section .main-offer {
  grid-area: 1/1;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: end;
}
.main-section-container .first-section .main-offer .line {
  position: relative;
  padding-bottom: 10px;
}
.main-section-container .first-section .main-offer h1 {
  font-weight: 400;
  font-size: 45px;
  margin: 0;
  min-width: 343px;
}
.main-section-container .first-section .main-offer h2 {
  font-weight: 400;
  font-size: 30px;
  margin: 0;
}
.main-section-container .first-section .main-offer p {
  text-align: justify;
  line-height: 21px;
  font-weight: 300;
  font-size: 14px;
  max-width: 258px;
  max-height: 34px;
}
.main-section-container .first-section .main-offer a {
  font-weight: 500;
  font-size: 12px;
  align-self: flex-start;
  border: 25px solid #444240;
  color: white;
  background-color: #444240;
}
.main-section-container .first-section .offer-image {
  display: flex;
  flex-direction: row;
}
.main-section-container .first-section .offer-image .price {
  min-width: 135px;
  padding-top: 138px;
  align-self: baseline;
  font-family: "Prata", sans-serif;
  font-size: 16px;
}
.main-section-container .first-section .offer-image .price .line {
  width: 35px;
  padding-bottom: 5px;
  position: relative;
}
.main-section-container .first-section .offer-image .info {
  min-width: 170px;
  padding: 0 100px 100px 0;
  align-self: flex-end;
  font-family: "Prata", sans-serif;
  font-size: 16px;
}
.main-section-container .first-section .offer-image .info .line {
  padding-bottom: 5px;
  width: 35px;
}

.second-section {
  grid-area: section-second;
  margin: 30px 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.second-section h1 {
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
}
.second-section a {
  align-self: end;
  padding: 0 60px;
  font-size: 16px;
  font-weight: 500;
}
.second-section .line {
  position: relative;
  width: 100px;
  align-self: flex-end;
  padding-right: 50px;
}
.second-section .modeles-container {
  padding: 0 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
.second-section .modeles-container .product-card {
  text-align: start;
}
.second-section .modeles-container .product-card .product-image {
  background-image: url(../icons/Ellipse.svg);
  background-repeat: no-repeat;
}
.second-section .modeles-container .product-card h2 {
  font-weight: 700;
  font-size: 14px;
}
.second-section .modeles-container .product-card p {
  font-family: "Prata", sans-serif;
  font-size: 12px;
  font-weight: 400;
}
.second-section .modeles-container .product-card .line {
  width: 30px;
  padding: 0;
}

.store-baner {
  grid-area: section-third;
  padding-top: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-image: url("../img/background_banner_1.png");
  background-position: left;
  background-repeat: no-repeat;
}
.store-baner .baner-img {
  max-width: 521px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 100px;
}
.store-baner .baner-img .baner-buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-self: end;
}
.store-baner .baner-info {
  height: 414px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/lines_banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.store-baner .baner-info .txt-wraper {
  padding: 0 50px;
  max-width: 500px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
}
.store-baner .baner-info .txt-wraper a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  font-weight: 500;
  height: 64px;
  width: 205px;
  border: 1px solid #D4B098;
  background-color: #D4B098;
}
.store-baner .baner-info .txt-wraper p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.fouth-section {
  grid-area: section-four;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.fouth-section .social-links {
  display: flex;
  flex-direction: column;
  margin: 0 70px;
}
.fouth-section .social-links h2 {
  max-width: 471px;
  max-height: 33px;
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
}
.fouth-section .social-links p {
  max-width: 376px;
  max-height: 43px;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}
.fouth-section .social-links .icons {
  align-items: end;
  justify-content: end;
  padding-top: 124px;
}
.fouth-section .social-links .icons img {
  padding: 0 18px;
}
.fouth-section .photo-galery {
  max-width: 600px;
  max-height: 460px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
}
.fouth-section .photo-galery img {
  height: 100%;
  width: 100%;
}
.fouth-section .photo-galery .galery-item--1 {
  margin: auto;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.fouth-section .photo-galery .galery-item--2 {
  margin: auto;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.fouth-section .photo-galery .galery-item--3 {
  margin: auto;
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
}

.footer-container {
  grid-area: footer;
  display: grid;
  background-color: #444240;
  align-items: self-start;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 275px;
}
.footer-container a {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}
.footer-container h2 a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.footer-container p a {
  color: rgba(255, 255, 255, 0.7490196078);
}
.footer-container img {
  margin: 1em 0;
}

/*# sourceMappingURL=style.css.map */
